<div class="add-page">

<div class="form-card">

<h2>

Sell a Product

</h2>

<p>

Upload your product to Buy01 Marketplace

</p>

<input
class="form-control"
placeholder="Product name"
[(ngModel)]="name">

<textarea
class="form-control"
rows="4"
placeholder="Description"
[(ngModel)]="description">
</textarea>

<input
class="form-control"
type="number"
placeholder="Price"
[(ngModel)]="price">

<input
class="form-control"
type="number"
placeholder="Quantity"
[(ngModel)]="quantity">

<input
class="form-control"
type="file"
multiple
accept="image/*"
(change)="onFileSelected($event)">

<div class="row mt-4">

<div
class="col-md-3"
*ngFor="let img of previews">

<img
[src]="img"
class="preview">

</div>

</div>

<button
class="btn btn-primary mt-4 w-100"
(click)="saveProduct()">

Publish Product

</button>

</div>

</div>