<div class="container mt-5">

    <div class="card shadow p-4">

        <h2>
            Add Product
        </h2>


        <div
        class="alert alert-danger"
        *ngIf="errorMessage">

            {{errorMessage}}

        </div>


        <input
        class="form-control mb-3"
        placeholder="Product name"
        [(ngModel)]="name">


        <textarea
        class="form-control mb-3"
        placeholder="Product description"
        [(ngModel)]="description">
        </textarea>


        <input
        class="form-control mb-3"
        type="number"
        placeholder="Price"
        [(ngModel)]="price">


        <input
        class="form-control mb-3"
        type="number"
        placeholder="Quantity"
        [(ngModel)]="quantity">


        <input
        class="form-control mb-3"
        type="file"
        multiple
        accept="image/*"
        (change)="onFileSelected($event)">


        <div class="row mb-3">

            <div
            class="col-md-3"
            *ngFor="let img of previews">

                <img
                [src]="img"
                class="img-thumbnail">

            </div>

        </div>


        <button
        class="btn btn-success"
        (click)="saveProduct()">

            Save Product

        </button>


    </div>

</div>