<div class="products-page">

<div class="container-fluid">

<div class="page-header">

    <div>

        <h2>Available Products</h2>

        <p>{{products.length}} products available</p>

    </div>

    <a
        routerLink="/products/add"
        class="btn btn-primary">

        + Sell Product

    </a>

</div>

<div class="row g-4">

    <div
        class="col-xl-3 col-lg-4 col-md-6"
        *ngFor="let product of products">

        <app-product-card
            [product]="product">
        </app-product-card>

    </div>

</div>

</div>

</div>