.product-card{

    background:white;

    border-radius:12px;

    overflow:hidden;

    transition:.3s;

    height:100%;

}

.product-card:hover{

    transform:translateY(-8px);

    box-shadow:0 10px 30px rgba(0,0,0,.3);

}

.product-image{

    height:300px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f8f8f8;

}

.product-image img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.product-info{

    padding:18px;

}

.product-info small{

    color:#999;

    text-transform:uppercase;

    font-size:11px;

}

.product-info h5{

    margin-top:10px;

    font-weight:700;

    height:48px;

    overflow:hidden;

}

.product-info h4{

    color:#003366;

    font-weight:bold;

}