.navbar{

    background:#08111f;

    height:85px;

    padding:0 20px;

}

.navbar-brand{

    color:white;

    font-size:30px;

    font-weight:bold;

}

.navbar-brand:hover{

    color:white;

}

.search-box{

    width:45%;

    display:flex;

}

.search-box input{

    flex:1;

    height:45px;

    border:none;

    padding:0 15px;

    border-radius:10px 0 0 10px;

}

.search-box button{

    width:60px;

    border:none;

    background:#0d6efd;

    color:white;

    border-radius:0 10px 10px 0;

}

.nav-btn{

    color:white;

    text-decoration:none;

    margin-right:15px;

}

.nav-btn.active{

    color:#6ea8fe;

}

.cart-btn{

    border:none;

    background:#0d6efd;

    color:white;

    width:45px;

    height:45px;

    border-radius:50%;

}