<nav class="navbar navbar-expand-lg">

    <div class="container-fluid px-4">

        <a class="navbar-brand" routerLink="/">
            Buy01
        </a>

        <form class="search-box mx-auto">

            <input
                type="search"
                placeholder="Search products...">

            <button type="submit">

                🔍

            </button>

        </form>

        <div class="d-flex align-items-center">

            <a
                routerLink="/"
                class="nav-btn">

                Home

            </a>

            <a
                routerLink="/products"
                class="nav-btn">

                Products

            </a>

            <a
                routerLink="/products/add"
                class="nav-btn active">

                Sell Product

            </a>

            <button class="cart-btn">

                🛒

            </button>

        </div>

    </div>

</nav>