body{

    background:#08111f;

}

.hero{

    margin:25px;

    border-radius:18px;

    background:#0b223c;

    min-height:330px;

    display:flex;

    align-items:center;

    padding:60px;

}

.hero-content{

    color:white;

    max-width:650px;

}

.hero-content small{

    color:#6fa7ff;

    letter-spacing:2px;

    text-transform:uppercase;

}

.hero-content h1{

    font-size:60px;

    font-weight:900;

    margin-top:15px;

    margin-bottom:20px;

}

.hero-content p{

    color:#b6c3d1;

    font-size:18px;

}

.products-section{

    background:#08111f;

    padding:40px 20px;

}

.products-section h2{

    color:white;

    font-weight:700;

}

.products-section small{

    color:#93a6bb;

}

.btn-outline-light{

    border-radius:30px;

}

.container-fluid{

    max-width:1800px;

}