<section class="hero">

    <div class="hero-content">

        <small>BUY01 MARKETPLACE</small>

        <h1>DISCOVER AMAZING PRODUCTS</h1>

        <p>
            Buy and sell products from trusted sellers around the world.
        </p>

        <button class="btn btn-light">
            Browse Products →
        </button>

    </div>

</section>

<div class="products-section">

    <div class="container-fluid">

        <div class="d-flex justify-content-between align-items-center mb-4">

            <div>

                <h2>Available Products</h2>

                <small>{{products.length}} products available</small>

            </div>

            <button class="btn btn-outline-light">

                View All

            </button>

        </div>

        <div class="row g-4">

            <div
                class="col-xl-2 col-lg-3 col-md-4 col-sm-6"
                *ngFor="let product of products">

                <app-product-card
                    [product]="product"
                    [currentUserId]="currentUserId"
                    (delete)="deleteProduct($event)">
                </app-product-card>

            </div>

        </div>

    </div>

</div>